$orange-peel: #FA7A35;
$banana-peel: #FADD35;
$sizzling-red: #FA3553;
$white-smoke: #F5F5F5;
$honey-dew: #F0FFF0;



$main-color: $orange-peel;
$secondary-color: $sizzling-red;
$third-color: $banana-peel;